* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 65px;
  height: 65px;
  padding-left: 2rem;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
input {
  width: 30em;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: 1px solid black;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item ul {
  display: flex;
  justify-content: center;
}
.item ul li {
  list-style: none;
  padding-right: 2rem;
  cursor: pointer;
  font-size: 16px;
}
hr {
  width: 95%;
  margin: auto;
}
.content {
  padding-top: 5rem;
}
.content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.content ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.content ul li .circle {
  border: 1px solid black;
  padding: 5rem 4rem;
  border-radius: 50%;
  margin: 6rem auto 1rem;
}
