@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-bg: #ffffff;
  --clr-item: #6861f4;
  --clr-text: #111111;
  --clr-grey: #494545;
  --font-text: "Poppins", serif;
}
* {
  margin: 0;
  padding: 0;
}
.darkmode {
  --clr-bg: #111111;
  --clr-item: #6861f4;
  --clr-text: #ffffff;
}
body {
  background-color: var(--clr-bg);
}
a {
  text-decoration: none;
}
h1,
p {
  color: var(--clr-text);
}
header {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
header h1 {
  font-family: var(--font-text);
  font-weight: 600;
  font-size: 2em;
}
.main {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  padding: 2rem 0;
}
.search_box i {
  position: relative;
  right: 2rem;
  color: var(--clr-item);
}
.search_box .search {
  padding: 1.25rem 1rem;
  border: 1px solid var(--clr-item);
  width: 25rem;
}
.search_box .search::placeholder {
  font-family: var(--font-text);
  font-size: 1.1rem;
  color: #cdcdcd;
}
.search_box .search,
.dropdown,
.color {
  border-radius: 0.4rem;
}
.dropdown {
  border-radius: 0.4rem;
}
select {
  padding: 1.1rem 0.9rem;
  background-color: var(--clr-item);
  border-radius: 0.4rem;
  font-size: 1rem;
  border: 1px solid var(--clr-item);
  color: white;
}
select option {
  text-align: center;
  background-color: white;
  color: var(--clr-item);
}

.color {
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--clr-item);
  border: 1px solid var(--clr-item);
}
.color i {
  font-size: 1.8rem;
  padding: 0.8rem 0.9rem;
  color: white;
}

.content {
  /* width: 36rem; */
  margin: 0 auto;
}

.no_content {
  text-align: center;
  margin-top: 2rem;
}
.no_content img {
  width: 200px;
  margin: 0 auto;
  display: none;
}
.no_content .light {
  display: inline-block;
}
.no_content p {
  font-family: var(--font-text);
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.no_content p {
  font-family: var(--font-text);
  text-align: center;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
ul {
  list-style: none;
  padding: 2rem 0 5rem;
}
ul li {
  width: 36rem;
  margin: 0 auto;
}
hr {
  color: #9592e7;
  width: 95%;
  margin: 1rem auto;
}
.value {
  width: 100%;
  display: flex;
}
.value input {
  margin: 0 1rem;
  cursor: pointer;
}
.value p {
  font-family: var(--font-text);
}
.value .icons {
  margin-left: auto;
}
.value .icons i {
  cursor: pointer;
  padding-left: 0.6rem;
  color: #cdcdcd;
}
#note {
  text-decoration: none;
}
.add {
  position: absolute;
  bottom: 4rem;
  right: 6rem;
}
.add i {
  padding-right: 1rem;
  background-color: var(--clr-item);
  cursor: pointer;
  color: white;
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 1.8em;
}
/* --------------------------------- */
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-bg);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  z-index: 1001;
}
#popup h1 {
  font-family: var(--font-text);
  font-weight: 600;
  font-size: 1.8em;
  text-align: center;
  padding: 0 0 1rem;
}
#popup i {
  float: right;
}
#close {
  cursor: pointer;
  color: var(--clr-item);
  font-weight: 700;
}
#popup input {
  padding: 1rem 1rem;
  border: 1.5px solid var(--clr-item);
  width: 25rem;
  border-radius: 0.5rem;
}
#popup input::placeholder {
  font-family: var(--font-text);
  font-size: 1rem;
  color: #cdcdcd;
}
#popup .btns {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0 0;
}
#popup .btns button {
  padding: 0.5rem 2rem;
  border: 1px solid var(--clr-item);
  border-radius: 0.3rem;
  cursor: pointer;
}
#popup .btns button {
  font-weight: 600;
  font-family: var(--font-text);
  font-size: 1.1em;
}
#popup .btns button:first-child {
  background: transparent;
}
#popup .btns button:first-child {
  color: var(--clr-item);
}
#popup .btns button:last-child {
  background-color: var(--clr-item);
}
#popup .btns button:last-child {
  color: var(--clr-bg);
}
.black_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
  filter: grayscale(100%);
  /* backdrop-filter: blur(5px); */
}
#task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#task-list li {
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
#note-input {
  font-family: var(--font-text);
  font-size: 1rem;
  margin-top: 1rem;
}
/* -------------------------------- */
@media (max-width: 650px) {
  .search_box .search {
    width: 20rem;
  }
}
@media (max-width: 510px) {
  .search_box .search {
    width: 15rem;
  }
}
@media (max-width: 430px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
  }
  .search_box .search {
    width: 20rem;
  }
}
